/* SYTYK text styles */
h2
{
    font-size: 33px;
    margin-top: -14px;
    margin-bottom: 8px;
}

.highlight
{
    font-size: 37px;
    background-color: #FFF9D7;
}

.exclaim
{
    font-size: 35px;
}

.exclaim-mini
{
    font-size: 16px;
    margin-left: 2px;
    margin-right: 3px;
}

.tinyurl
{
    font-size: 10px;
    color: #3b5998;
}

.whatyouare
{
    margin-bottom: 5px;
}

.level
{
    font-size: 15px;
    background-color: #FFF9D7;
}

.profilebox .level
{
    margin-left: 5px;
}

.scores div
{
    float: left;
}

.score
{
    list-style-type: none;
    display: list-item;
    font-size: 15px;
}

.score-number
{
    text-align: right;
    height: 40px;
    width: 42px;
    font-size: 33px;
    margin-right: 6px;
}

.score-text
{
    height: 22px;
    margin-top: 16px;
}

.intro
{
    line-height: 20px;
    text-align: left;
}

/*
 * SYTYK layout styles
 */

/* Questions */
.question-text
{
    padding-top: 7px;
    font-size: 19px;
    text-align: left;
    width: 400px;
    margin: 0 auto;
    font-weight: bold;
}

.question
{
    margin: 5px 10px 10px;
    text-align: center;
}

.question-image div
{
    text-align: center;
}

.question-image img
{
    width: 400px;
    height: 200px;
    margin: 20px;
}

#answers
{
    width: 342px;
    margin: 0px auto;
    text-align: center;
    height: 98px;
}

.answer
{
    width: 140px;
    margin: 4px;
    float: right;
    text-align: center;
}

.clickable
{
    cursor: pointer;
}

/* Header */
.header_pic
{
    float: left;
    margin: -4px 12px 0px 0.9px;
}

/* Profile */
.profilebox
{
    /*width: 250px;*/
    float: right;
    clear: right;
}

.levellogo img
{
    width: 100px;
    height: 100px;
    float: right;
    clear: left;
    margin-right: 10px;
    margin-top: 9px;
}

#right
{
    width: 272px;
    float: right;
}

#left
{
    width: 473px;
    float: left;
    margin-right: 5px
}

.bottom
{
    clear: both;
}

/* FB CSS styles */

/* Default Facebook CSS */
.fbbody
{
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
    text-align: center;
}
/* Default Anchor Style */
.fbbody a
{
    color: #3b5998;
    outline-style: none;
    text-decoration: none;
    font-size: 11px;
    font-weight: normal;
}
.fbbody a:hover
{
    text-decoration: underline;
}
/* Facebook Box Styles */
.fbgreybox
{
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
}
.fbbluebox
{
    background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}
.fbinfobox
{
    background-color: #fff9d7;
    border: 1px solid #e2c822;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
}
.fberrorbox
{
    background-color: #ffebe8;
    border: 1px solid #dd3c10;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
}
/* Content Divider on White Background */
.fbcontentdivider
{
    margin-top: 15px;
    margin-bottom: 15px;
    /* width: 520px; */
    height: 1px;
    background-color: #d8dfea;
}
/* Facebook Tab Style */
.fbtab
{
    padding: 8px;
    background-color: #d8dfea;
    color: #3b5998;
    font-weight: bold;
    float: left;
    margin-right: 4px;
text-decoration: none;
}
.fbtab:hover
{
    background-color: #3b5998;
    color: #ffffff;
    cursor: hand;
}
