<div style="width:750px">
<h2>So You Think You Know <span class="highlight">Boston</span> <span class="exclaim">?</span> <a class="tinyurl" href="">(change city)</a></h2>

<h2>Leaderboard</h2>

  
<div class="fbgreybox">I am in a grey box.</div>
<br/><br/>
<div class="fbbluebox">I am in a blue box.</div>
<br/><br/>
<div class="fbinfobox">I am in an info box.</div>
<br/><br/>
<div class="fbcontentdivider"></div>
Welcome to So You Think You Know!
<div class="fbcontentdivider"></div>

</div>
